.btn-dark {
    background-color: #db0022;
    border-color: #db0022;
}

.btn-secondary {
    background-color: #3c4044;
    border-color: #3c4044;
    float: right;
    margin: 10px
}

.navbar-dark {
    background-color: #3c4044;   
}

.dropdown-menu {
    align-content: right
}

body {
    background: url(http://www.kinyu-z.net/data/wallpapers/81/986670.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.jumbotron {
    margin: 25px;
    border-color: black
}



.card-header {
    font-weight: bold
}